<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yairkl.kosherliquorplus"
    android:versionCode="6"
    android:versionName="1.1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.yairkl.kosherliquorplus.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.DeviceDefault.Light"
            tools:ignore="NewApi" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yairkl.kosherliquorplus.ProductInfo"
            android:label="@string/title_activity_product_info"
            android:theme="@android:style/Theme.DeviceDefault.Light"
            tools:ignore="NewApi" >
        </activity>
        <activity
            android:name="com.yairkl.kosherliquorplus.ProductList"
            android:label="@string/title_activity_list"
            android:theme="@android:style/Theme.DeviceDefault.Light"
            tools:ignore="NewApi" >
        </activity>
        <activity
            android:name="com.yairkl.kosherliquorplus.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@android:style/Theme.DeviceDefault.Light"
            tools:ignore="NewApi" >
        </activity>
        <activity
            android:name="com.yairkl.kosherliquorplus.newProduct"
            android:label="@string/title_activity_new_product" >
        </activity>
    </application>

</manifest>
